fastapi
fastapi_utils
uvicorn
pymysql
passlib
pyjwt
sqlalchemy
pandas
python-multipart
cryptography
alembic
email-validator
password-validator
phonenumbers
apscheduler
pydantic
asyncpg
psycopg2
bcrypt
openai
elevenlabs
assemblyai[extras]
deepgram-sdk
python-dotenv
websocket-client
google-cloud-speech
google-generativeai
google-cloud-texttospeech